customer-ws_ori/src/main/app/customers_api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="customers_api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="customers_api-config" raml="customers_api.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <flow name="customers_api-main">
        <http:listener config-ref="customers_api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="customers_api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="customers_api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="customers_api-console">
        <http:listener config-ref="customers_api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="customers_api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/customers/{custId}:customers_api-config">
        <choice doc:name="Choice">
            <when expression="flowVars.custId == 3">
                <set-payload value="{&quot;message&quot;: &quot;Customer #[flowVars.custId] updated&quot;}" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <scripting:transformer doc:name="Script">
                    <scripting:script engine="Groovy"><![CDATA[throw new org.mule.module.apikit.exception.NotFoundException("Customer #[flowVars.custId] not found");]]></scripting:script>
                </scripting:transformer>
            </otherwise>
        </choice>

    </flow>
    <flow name="delete:/customers/{custId}:customers_api-config">
        <choice doc:name="Choice">
            <when expression="flowVars.custId == 5">
                <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
                <set-payload value="{&quot;message&quot;: &quot;Customer #[flowVars.custId] deleted&quot;}" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <scripting:transformer doc:name="Script">
                    <scripting:script engine="Groovy"><![CDATA[throw new org.mule.module.apikit.exception.NotFoundException("Customer #[flowVars.custId] not found");]]></scripting:script>
                </scripting:transformer>
            </otherwise>
        </choice>

    </flow>
    <flow name="get:/customers:customers_api-config">
        <set-payload value="[{&quot;custId&quot;:&quot;1&quot;,&quot;firstName&quot;:&quot;Mike&quot;,&quot;lastName&quot;:&quot;Brown&quot;,&quot;addresses&quot;:[{&quot;addressType&quot;:&quot;SHIPTO&quot;,&quot;street&quot;:&quot;12 New St&quot;,&quot;city&quot;:&quot;Dundas&quot;,&quot;state&quot;:&quot;NSW&quot;,&quot;postcode&quot;:&quot;2117&quot;},{&quot;addressType&quot;:&quot;BILLTO&quot;,&quot;street&quot;:&quot;13 Old St&quot;,&quot;city&quot;:&quot;Ermington&quot;,&quot;state&quot;:&quot;NSW&quot;,&quot;postcode&quot;:&quot;2115&quot;}]},{&quot;custId&quot;:&quot;2&quot;,&quot;firstName&quot;:&quot;Sally&quot;,&quot;lastName&quot;:&quot;Possum&quot;,&quot;addresses&quot;:[{&quot;addressType&quot;:&quot;SHIPTO&quot;,&quot;street&quot;:&quot;52 Crooked St&quot;,&quot;city&quot;:&quot;Kingswood&quot;,&quot;state&quot;:&quot;NSW&quot;,&quot;postcode&quot;:&quot;2747&quot;},{&quot;addressType&quot;:&quot;BILLTO&quot;,&quot;street&quot;:&quot;52 Crooked St&quot;,&quot;city&quot;:&quot;Kingswood&quot;,&quot;state&quot;:&quot;NSW&quot;,&quot;postcode&quot;:&quot;2747&quot;}]}]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{custId}:customers_api-config">
        <choice doc:name="Choice">
            <when expression="flowVars.custId == 3">
                <set-payload value="{&quot;custId&quot;:&quot;3&quot;,&quot;firstName&quot;:&quot;Lola&quot;,&quot;lastName&quot;:&quot;Dance&quot;,&quot;addresses&quot;:[{&quot;addressType&quot;:&quot;SHIPTO&quot;,&quot;street&quot;:&quot;12 New St&quot;,&quot;city&quot;:&quot;Dundas&quot;,&quot;state&quot;:&quot;NSW&quot;,&quot;postcode&quot;:&quot;2117&quot;},{&quot;addressType&quot;:&quot;BILLTO&quot;,&quot;street&quot;:&quot;13 Old St&quot;,&quot;city&quot;:&quot;Ermington&quot;,&quot;state&quot;:&quot;NSW&quot;,&quot;postcode&quot;:&quot;2115&quot;}]}" mimeType="application/json" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <scripting:transformer doc:name="Script">
                    <scripting:script engine="Groovy"><![CDATA[throw new org.mule.module.apikit.exception.NotFoundException("Customer #[flowVars.custId] not found");]]></scripting:script>
                </scripting:transformer>
            </otherwise>
        </choice>

    </flow>
    <flow name="post:/customers:customers_api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{ &quot;message&quot;: &quot;Customer 1 added&quot;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="customers_api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{&quot;message&quot;: &quot;Customer #[flowVars.custId] not found&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
